html {
    background-color: #FFF9FB;
}
body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Viga', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Viga', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}
.highlight {
    color: #7BE0AD;
}
nav a {
    text-decoration: none;
    padding: 10px 20px;
}
.navigation {
    float: right;
    margin-right: 5%;
}
.plainbutton {
    background-color: #7be0ad;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
}

.evenbox {
    height: 313px;
    margin: 5%;
    padding-top: 2%;
}

.distribute {
    float: left;
    width: 50%;
}

.half_image {
    width: 70%;
}

.evenbox_three {
    height: 300px;
    margin: 5%;
}
.distribute3rd {
    width: 250px;
    float: left;
    margin-right: 5%;
    margin-top: 10px;
    padding: 30px;
    background-color: white;
    box-shadow: 2px 2px 20px grey;
    border-radius: 7px;
}
.image_third {
    margin: auto;
    width: 100%;
}

.fifth_part {
    margin: 10% 30% 5% 30%;
}

.fifth_part img {
    position: relative;
    width: 100%;
}
.tinb {
    position: relative;
    top: -90px;
    color: white;
    float: left;
    padding: 2px 30px;
    text-transform: uppercase;
}

.chat_button {
    background-color: coral;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;
}